body {
	font-family: kaiti;
	font-size: 100%;
}
	
nav {
	width: 100%;	
	position: Fixed;
	top: 0;
	background-color: yellow;
	font-size: 1.7em;
	z-index: 100;

}

main {
	margin: auto;
	width: 95%;
}

.center {
	text-align: center;
	
}

.timestamp{
	width:25%;
	float: right;
	text-align: right;
	padding-right: 20px;
	font-size: .5em;
}

header {
    padding: 0em;
    color: white;
    clear: left;
    text-align: center;
	z-index: 100;
}

#titlebar {
    width: 100%;
    margin-top: 40px;
    left: 0;
}

footer {
    padding: 0em;
    margin-top: 100px;
    color: white;
    background-color: green;
    clear: left;
    text-align: center;
	z-index: 100;
}

	/* Top right text */

.titlePic {
	width: 100%;	
}

#zi {
	font-size: 30px;
}	
	
.bold {
	font-weight: bold;
}
.aside-right {
	float: right;
	width: 35%;
    padding-right: 10px;
    color: chocolate ;
	max-height:1000px;
	min-height: 500px;
	overflow: auto
}

.aside-left {
	float: left;
	width: 250px;
    padding-right: 10px;
    color: chocolate ;
	max-height:1000px;
	min-height: 500px;
	overflow: auto
}


.index-section {
	padding-right: 100px;
}

#article-list {
    width: 90%;
    list-style-type: none;
}

#wanglianlink:link {
	font-size:150%;
	background-color: #cccccc;
    background-image: linear-gradient(red, yellow);	
	text-decoration: none;
	
	border: 2px solid transparent;
    padding: 5px;
    /*-webkit-border-image: url(border.png) 30 round; / Safari 3.1-5 */
    /*-o-border-image: url(border.png) 30 round;  /Opera 11-12.1 */
    /*border-image: url(border.png) 30 round;*/
		

}

pre {
	font-family: kaiti;
	font-size:20px;
}	
	
p {
    text-indent: 25px;
}
				
				
.top-right {
	position: absolute;
	top:25px;
	right: 50px;
	font-size: 70px;
	text-shadow: 2px 2px 8px #FF0000;
					
}

.small-date {
	font-size: 10px;
	
}

.comment-label {
	float: left;
	width: 100px;
}

.comment-area {
	width: 60%;
	height: 90px;	
}

.input-area {
	margin: 0 0 10px 0;
	width: 200px;
}	

.btn {
	background-color:orange;
	
}

@media screen and (max-width: 480px) {    
	.index-section {
		font-size: 1.4em;
	}
	.aside-right {
		width: 50%;
	}

	.section {
		font-size: 1.2em;
	}

	.aside-left {
		width: 50%;
		font-size:1.2em;
	}

    #filetxt {
        font-size: 1.2em;
    }

    #pagno  {
        font-size: 1.2em;
    }
}
				